.characterGuessColumn{
  max-width: 312px;
  margin: 24px auto 24px;

  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  border-radius: 16px;
  background: rgba(26, 23, 25, 0.70);
  backdrop-filter: blur(8px);

  h2{
    color: #FFF;
    text-align: center;
    font-family: Dashboard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 18px */
    text-transform: uppercase;

    margin: 0px auto 0px;
  }
}

.characterGuessHeader{
  display: flex;
  margin-bottom: 8px;

  div{
    width: 25%;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 10px */

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.characterGuessBlock{
  width: 100%;
}

.guessItem{
  display: flex;  
  justify-content: space-around;
  align-items: center;

  .guessItemAnswerPortrait{    
    height: 54px;
    width: 54px;
    overflow: hidden;
    border-radius: 16px;    
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: lightgray 50% / cover no-repeat, #1A1719;
    backdrop-filter: blur(8px);

    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 52px;
    }  
  }

  .guessItemAnswer{
    height: 54px;
    width: 54px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(8px);

    &[data-green]{
      background-color: #4AFF46;
    }

    &[data-red]{
      background-color: #FF4741;
    }
  }

  .animated_path{
    animation: .5s ease 0s 1 appear;
    -webkit-animation: .5s ease 0s 1 appear;
    transform-style: preserve-3d;
    perspective: 500px;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .animated_element{
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    -ms-transform: rotate3d(0, 1, 0, 90deg);
    -o-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);

    animation-name: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
  }

  .animated_origin{
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    -ms-transform: rotate3d(0, 1, 0, 90deg);
    -o-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);

    
    animation-name: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  }
}

@keyframes appear {
  0% {
   -webkit-transform: rotate3d(0, 1, 0, 90deg);
   -ms-transform: rotate3d(0, 1, 0, 90deg);
   -o-transform: rotate3d(0, 1, 0, 90deg);
   transform: rotate3d(0, 1, 0, 90deg);
   opacity: 0;
  }
  100% {
   -webkit-transform: rotate3d(0, 1, 0, 0deg);
   -ms-transform: rotate3d(0, 1, 0, 0deg);
   -o-transform: rotate3d(0, 1, 0, 0deg);
   transform: rotate3d(0, 1, 0, 0deg);
   opacity: 1;
  }
}