.characterGuessColumn{
  max-width: 500px;
  margin: 32px auto 0px;
}

.characterGuessHeader{
  display: flex;

  div{
    width: 25%;
    color: white;
    font-weight: bold;
    text-align: center;
  }
}

.guessItem{
  display: flex;
  margin-top: 32px;

  img{
    max-width: 60px;
    max-height: 60px;
  }

  .guessItemAnswer{
    height: 60px;
    width: 25%;
    color: white;
    text-align: center;
    color: white;

    display: flex;    
    justify-content: center;
    align-items: center;

    &[data-green]{
      background-color: green;
    }

    &[data-red]{
      background-color: red;
    }
  }

  .animated_path{
    animation: .5s ease 0s 1 appear;
    -webkit-animation: .5s ease 0s 1 appear;
    transform-style: preserve-3d;
    perspective: 500px;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .animated_element{
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    -ms-transform: rotate3d(0, 1, 0, 90deg);
    -o-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);

    animation-name: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
  }

  .animated_origin{
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    -ms-transform: rotate3d(0, 1, 0, 90deg);
    -o-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);

    
    animation-name: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  }
}

@keyframes appear {
  0% {
   -webkit-transform: rotate3d(0, 1, 0, 90deg);
   -ms-transform: rotate3d(0, 1, 0, 90deg);
   -o-transform: rotate3d(0, 1, 0, 90deg);
   transform: rotate3d(0, 1, 0, 90deg);
   opacity: 0;
  }
  100% {
   -webkit-transform: rotate3d(0, 1, 0, 0deg);
   -ms-transform: rotate3d(0, 1, 0, 0deg);
   -o-transform: rotate3d(0, 1, 0, 0deg);
   transform: rotate3d(0, 1, 0, 0deg);
   opacity: 1;
  }
}