.characterSearch{
  margin: 80px auto 0px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 1;
}

.characterInput{
  padding: 16px;
  text-decoration: none;
  color: #c2c2c4;
  background-color: #111113;
  border: solid 1px #c2c2c2;
  transition: all 0.25s ease-out;
}

.characterCollection{
  padding: 16px;
  text-decoration: none;
  color: #c2c2c4;
  background-color: #111113;
  border: solid 1px #c2c2c2;
  transition: all 0.25s ease-out;

  position: absolute;
  top: 110%;
}

.characterOptionDiv{
  cursor: pointer;
	display: flex;
  align-items: center;
}

.characterOption img{
	max-width: 60px;
	max-height: 60px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 16px;
}